spring:
  main:
    web-application-type: none
    banner-mode: off
  ai:
    mcp:
      server:
        name: my-weather-server
        stdio: true

# NOTE: You must disable the banner and the console logging 
# to allow the STDIO transport to work !!!
